/* Google Font CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

/* Keseluruhan dan Scroll Bar CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}
body {
  margin: 0;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #6e93f7;
  border-radius: 12px;
  transition: all 0.3s ease;
}
::-webkit-scrollbar-thumb:hover {
  background: #4070f4;
}

/*Navigasi & Header Styling */
.navbar-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 0;
  z-index: 998;
  transition: all 0.3s ease;
  font-family: 'Ubuntu', sans-serif;
  background-color: #1A2F45;
}
.navbar-wrapper.sticky {
  background: #4070f4;
  padding: 13px 0;
}
.navbar {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}
.navbar .logo a {
  font-weight: 500;
  font-size: 35px;
  color: #87CEEB;
}
.navbar-wrapper.sticky .logo a {
  color: #Ffff;
}
.navbar .menu {
  display: flex;
  position: relative;
}
.navbar .menu li {
  list-style: none;
  margin: 0 8px;
}
.navbar .menu a {
  font-size: 20px;
  font-weight: 500;
  color: #87CEEB;
  padding: 6px 0;
  transition: all 0.4s ease;
}
.navbar .menu a:hover {
  color: #ffff;
}
.navbar-wrapper.sticky .menu a {
  color: #fff;
}
.navbar-wrapper.sticky .menu a:hover {
  color: #0E2431;
}
.navbar .media-icons {
  display: flex;
  gap: 15px;
}
.navbar .media-icons a {
  font-size: 25px;
  color: #87CEEB;
  transition: all 0.4s ease;
}
.navbar .media-icons a:hover {
  color: #ffff;
}
.navbar-wrapper.sticky .media-icons a {
  color: #fff;
}
.navbar-wrapper.sticky .media-icons a:hover {
  color: #0E2431;
}
.menu-btn,
.navbar .cancel-btn {
  position: absolute;
  color: #fff;
  right: 30px;
  top: 20px;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: none;
}
.menu-btn {
  color: #fff;
}
.navbar-wrapper.sticky .menu-btn {
  color: #fff;
}
.navbar.active .menu {
  left: 0;
}
.navbar.active .cancel-btn {
  display: block;
}

/* Beranda*/
.home {
  height: 100vh;
  width: 100%;
  background: url("Images/backrgound-home.png") no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: 'Ubuntu', sans-serif;
}
.home-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 100px;
}
.home h1 {
  font-size: 30px;
  color: #Ffff;
}
.home h2 {
  font-size: 65px;
  font-weight: 550;
  margin-left: -3px;
  color: #Ffff;
}
.home p {
  font-size: 40px;
  margin: 5px 0;
  color: #4070f4;
}


/* Tentang saya */
section {
  padding-top: 40px;
}
.content {
  width: 80%;
  margin: 40px auto;
  font-family: 'Poppins', sans-serif;
}
.about .about-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
section .title {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
section .title span {
  color: #0E2431;
  font-size: 30px;
  font-weight: 600;
  position: relative;
  padding-bottom: 8px;
}
section .title span::before,
section .title span::after {
  content: '';
  position: absolute;
  height: 3px;
  width: 100%;
  background: #4070f4;
  left: 0;
  bottom: 0;
}
section .title span::after {
  bottom: -7px;
  width: 70%;
  left: 50%;
  transform: translateX(-50%);
}
.about .about-details .left {
  width: 45%;
}
.about .left img {
  height: auto;
  width: 100%;
  max-width: 300px;
  object-fit: cover;
  border-radius: 12px;
}
.about-details .right {
  width: 55%;
}
.about-details .right h3 {
  color: #0E2431;
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 10px;
}
.about-details .right p {
  text-align: justify;
  color: #0E2431;
}
section .button {
  margin: 16px 0;
}
section .button button {
  outline: none;
  padding: 4px 6px;
  border-radius: 4px;
  font-size: 20px;
  font-weight: 200;
  background: #4070f4;
  color: #fff;
  border: 2px solid transparent;
  cursor: pointer;
  transition: all 0.4s ease;
}
section .button button:hover {
  border-color: #4070f4;
  background-color: #fff;
  color: #4070f4;
}

/* Keahlian */
.skills {
  background: #F0F8FF;
}
.skills .content {
  padding: 40px 0;
}
.skills .skills-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.skills-details .text {
  width: 50%;
}
.skills-details .text h4 {
  color: #0E2431;
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 10px;
}
.skills-details p {
  color: #0E2431;
  text-align: justify;
}
.skills-details .experience {
  display: flex;
  align-items: center;
  margin: 0 10px;
}
.skills-details .experience .num {
  color: #0E2431;
  font-size: 80px;
}
.skills-details .experience .exp {
  color: #0E2431;
  margin-left: 20px;
  font-size: 18px;
  font-weight: 500;
  margin: 0 6px;
}
.skills-details .boxes {
  width: 45%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.skills-details .box {
  width: calc(100% / 2 - 20px);
  margin: 20px 0;
}
.skills-details .boxes h4 {
  font-size: 20px;
  color: #4070f4;
}
.skills-details .boxes .per {
  font-size: 60px;
  color: #4070f4;
}

/* Jasa */
.services .boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.services .boxes .box {
  color: #1A2F45;
  margin: 20px 0;
  width: calc(100% / 3 - 20px);
  text-align: center;
  border-radius: 12px;
  padding: 30px 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
  cursor: default;
  transition: all 0.4s ease;
}

.services .boxes .box:hover {
  background: #4070f4;
  color: #fff;
}
.services .boxes .box .icon {
  height: 50px;
  width: 50px;
  background: #4070f4;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  font-size: 18px;
  color: #fff;
  margin: 0 auto 10px auto;
  transition: all 0.4s ease;
}
.services .boxes .box:hover .icon {
  background-color: #fff;
  color: #4070f4;
}
.services .boxes .box:hover h4,
.services .boxes .box:hover p {
  color: #fff;
}

/* Kontak Saya */
.contact {
  background: #F0F8FF;
}
.contact .content {
  margin: 0 auto;
  padding: 30px 0;
}
.contact .text {
  width: 80%;
  text-align: center;
  margin: auto;
}
.contact .text h3 {
  color: #0E2431;
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 10px;
}

.content .button-contact button {
  margin-top: 10px;
  outline: none;
  padding: 2px 4px;
  border-radius: 3px;
  font-size: 20px;
  font-weight: 400;
  color: #fff;
  cursor: pointer;
  border: 2px solid transparent;
  transition: all 0.4s ease;
  background: #0fe733;
}

.content .button-contact button:hover {
  border-color: #0fe733;
  color: #0fe733;
  background: #Ffff;
}

/* Footer CSS */
footer {
  background: #4070f4;
  padding: 15px 0;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}
footer .text span {
  font-size: 17px;
  font-weight: 400;
  color: #fff;
}
footer .text span a {
  font-weight: 500;
  color: #fff;
}
footer .text span a:hover {
  text-decoration: underline;
}

/* teks berganti */
.text-three {
  position: relative;
  font-size: 25px;
  color: #ffff;
}

/* Membuat kursor berkedip */
#changing-text::after {
  content: '|';
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
  animation: blink 1s step-end infinite;
}

/* Animasi untuk kedipan */
@keyframes blink {
  50% {
    opacity: 0;
  }
}

/* Responsive Media Query */
@media (max-width: 1190px) {
  section .content {
    width: 85%;
  }
}
@media (max-width: 1000px) {
  .about .about-details {
    justify-content: center;
    flex-direction: column;
  }
  .about .about-details .left {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .about-details .right {
    width: 90%;
    margin: 40px 0;
  }
  .services .boxes .box {
    margin: 20px 0;
    width: calc(100% / 2 - 20px);
  }
}
@media (max-width: 880px) {
  .about .left img {
    height: auto;
    width: 100%;
    max-width: 250px;
  }
  .navbar {
    width: 90%;
  }
  .navbar .menu {
    position: fixed;
    left: -100%;
    top: 0;
    background: #4070f4;
    height: 100vh;
    max-width: 400px;
    width: 100%;
    padding-top: 60px;
    flex-direction: column;
    align-items: center;
    transition: all 0.5s ease;
  }
  .navbar .menu a {
    font-size: 23px;
    display: block;
    color: #fff;
    margin: 10px 0;
  }
  .navbar-wrapper.sticky .menu a:hover {
    color: #4976f3;
  }
  .navbar .media-icons {
    display: none;
  }

  .menu-btn,
  .navbar .cancel-btn {
    display: block;
  }
  .home h2 {
    font-size: 65px;
  }
  .home p {
    font-size: 35px;
  }
  .skills-details {
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .skills-details .text {
    width: 100%;
    margin-bottom: 50px;
  }
  .skills-details .boxes {
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .services .boxes .box {
    margin: 20px 0;
    width: 100%;
  }
  .contact .text {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .home {
  height: 100vh;
  width: 100%;
  background-position: center;
  background-attachment: flex;
  }

  .home h2 {
    font-size: 55px;
  }
  .home p {
    font-size: 33px;
  }
  .skills-details .boxes .per {
    font-size: 50px;
    color: #4070f4;
  }
}